# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate

# SwiftPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Xcode Patch
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Other
*.moved-aside
*.xcuserdatad
*.swp
*.lock

# Swift Package Manager
.swiftpm/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace/

# App data
*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal

# Logs
*.log

# Preview
*.preview-thumbnails
*.preview-*.png
